CompileFlags:
  # The `Add` key specifies extra compile flags for your project.
  Add: ['-I', 'include', -std=c++20]

Diagnostics:
  ClangTidy: 
    Add: [
      'bugprone-*', 
      'modernize-*', 
      'cppcoreguidelines-*', 
      'google-*', 
      'performance-*', 
      'readability-*',
      'misc-*',
      'hicpp-*'
      ]